.container{
    display:flex;
    background-color: white;
    flex-direction: column;
    flex-grow: 1;
}
header{
    background-color: aqua;
}
div{
    background-color:red;
}
footer{
    background-color: blue;
}